* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Rose", cursive;
  color: #14b25a;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* visualizacao */

.borda_red {
  border: 2px solid red;
}

.borda_blue {
  border: 2px solid blue;
}

.fundo {
  background-color: khaki;
}

/* configuracao pagina */

.container {
  display: grid;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25vh 10vh auto 10vh;
  grid-gap: 1%;
  background-image: url(../images/fundo.jpg);
  box-shadow: 3px 8px 15px #14b25a;
}

/* cabecalho */
.cabecalho {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/5;
}

.texto_header {
  grid-column: 2/3;
  grid-row: 1/5;
  padding: 7%;
}

.fone_title {
  grid-column: 3/4;
  grid-row: 1/4;
}

.fone_title p {
  padding-bottom: 10%;
}

.fone_title img {
  float: left;
}

.zoetis {
  grid-column: 3/4;
  grid-row: 4/5;
  margin: auto;
}

.menu {
  grid-column: 1/4;
  grid-row: 2/3;
}

.menu {
  text-align: center;
  align-self: center;
  background-image: url(../images/barra_patas_original.jpg);
}

.menu ul li {
  display: inline-flex;
  padding: 2%;
}

.principal {
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 1%;
}

.contexto {
  
}

.lateral {
  
}

.rodape {
  grid-column: 1/4;
  grid-row: 4/5;
}

@media (max-width: 700px) {
  body {
    font-size: 0.8rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }

  .container {
    grid-template-rows: 20vh 7vh auto 5vh;
  }

  .fone_title {
    font-size: 10px;
  }

  .zoetis {
    grid-column: 3/4;
    grid-row: 4/5;
    margin: auto;
  }

  .zoetis img {
    width: 60%;
  }
}

/*
.container {
  max-width: 1200px;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 30vh 10vh auto 10vh;
  margin: 0 auto;
  background-image: url(../images/fundo.jpg);
  grid-gap: 2%;
}*/

/* Cabecalho */
/*
.cabecalho {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 20vh 10vh;
  justify-items: center;
  margin-top: 1%;
}

.logo {
  grid-row: 1/3;
  margin-left: 3%;
}

.texto_header {
  grid-row: 1/3;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: bold;
  align-self: center;
  padding: 10%;
}

.fone_title::after {
  content: "";
  display: inline-block;
}

.fone_title {
  align-self: center;
  width: 100%;
  grid-row: 1/2;
}

.fone_title p {
  width: 100%;
  text-align: center;
  margin-top: 7%;
  padding: 0;
}

.fone_title img {
  width: 12%;
  margin-left: 7%;
  float: left;
  text-align: center;
  align-self: center;
}

.zoetis {
  grid-row: 2/3;
  width: 100%;
  align-self: center;
  text-align: center;
}

.zoetis img {
  width: 30%;
  margin-left: 50%;
}*/

/* Separa cabecalho do corpo */
/*
.menu {
  background-image: url(../images/barra_patas_original.jpg);
  text-align: center;
  padding-top: 1%;
}

.menu ul li {
  display: inline-block;
  padding: 2%;
}

.menu ul li a {
  text-transform: uppercase;
}

.principal {
  display: grid;
}

.contexto {
  grid-column: 1/3;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
}

.lateral {
  grid-column: 3/4;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
}

.rodape {
  background-color: yellowgreen;
}

@media (max-width: 700px) {
  body {
    font-size: 0.7rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.3rem;
  }

  .container {
      grid-template-rows: 20vh 5vh auto 10vh;
  }

  .cabecalho {
    grid-template-rows: 15vh 5vh;
  }

  .logo {
    align-self: center;
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-rows: 27vh 8vh auto 10vh;
  }

  .cabecalho {
    grid-template-rows: 15vh 5vh;
  }
}*/
