*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Red Rose', cursive;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.borda_red {
    border: 2px solid red;
}

.borda_blue {
    border: 2px solid blue;
}

.container {
    max-width: 1200px;
    display: grid;
    grid-template-rows: 30vh 60vh 10vh;
    margin: 0 auto;
    background-image: url(../images/fundo.jpg);
}

/* Cabecalho */

.cabecalho {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
}

.logo {
    grid-row-start: 1;
    grid-row-end: 3;
}

.texto_header {
    grid-row-start: 1;
    grid-row-end: 3;
}

.fone_title {
    grid-row: 1/2;
    line-height: 1.5rem;
}

.zoetis {
    grid-row: 2/3;
    
}